@model Lottery.Core.ViewModels.LotteryEventViewModel

@{
    ViewBag.Title = "Details";
}

@using (Html.BeginForm())
{
    <div class="card shadow">
        <div class="card-header">
            <h3 class="card-title">Event Details</h3>

            <div class="d-flex text-white">
                @if (Model.WinnerCard != null)
                {
                    <h6 class="card-text text-white mr-2">
                        <span class="badge bg-available shadow pb-1 px-2">
                            <i class="fa fa-trophy prefix mr-1" aria-hidden="true"></i>
                            Winner: @Model.WinnerCard.Id
                        </span>
                    </h6>

                }
                <h6 class="card-text text-white">
                    <span class="badge shadow pb-1 px-2  @ViewBag.BackgroundProgress">
                        @Html.DisplayFor(model => model.EventProgress)
                    </span>
                </h6>
            </div>
        </div>

        <div class="card-body">
            @Html.Partial("_formLotteryDetails", Model)
        </div>
    </div>

    if (!Model.EventProgress.Equals("Closed"))
    {
        <button type="button" class="btn fixed-btn btn-primary btn-circle btn-lg element-shadow-sm"
                onclick="location.href='@Url.Action("Edit", "Events", new { Id = Model.Id })'">

            <i class="material-icons">mode_edit</i>
        </button>
    }
}

